*.cpp linguist-detectable=true
*.cc linguist-detectable=true
*.cxx linguist-detectable=true
*.hpp linguist-detectable=true
*.hxx linguist-detectable=true
*.h linguist-detectable=false
*.c linguist-detectable=false
*.cs linguist-detectable=false
*.c linguist-vendored
*.cs linguist-vendored

